<!--<p>Hola <%=recipientName%>! </p>
<br/>
<p>Recibimos una solicitud para cambiar tu contraseña en facturacion.com.</p>
<p>Si fuiste tu, ingresa en <br/><%=url%></p>
<p>Si no, ignora este mensaje!</p>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <style>
        .nav{
    background-color: #67b4a6;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 30px;
}
p{
    text-align: justify;
    text-indent: 1cm;
    margin-top: 20px;
}
.center{
    text-align: center;
}
h1 > a:link{
    text-decoration: none;
}
a{
    color: gray
}
a:hover{
    color: gray
}
a:visited{
    color: gray;
}
span{
    text-align: justify;
    margin-top: 50px;
}
.logo{
    margin-top: 50px;    
}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 nav">

            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <h4>Hola <%=recipientName%>!</h4>
                <p>Hemos recibido una solicitud para cambiar su contraseña en nuestra plataforma,
                    por favor has click en el siguiente enlace para proceder al cambio.
                </p>
                <div class="center">
                    <h1><a href="<%=url%>"> <i class="fa fa-lock"></i> Cambiar contraseña</a></h1>
                </div>
                <div style="margin-top: 30px;">
                    <span>Sin mas nada que agregar se despide de usted el equipo de soporte de usuario. ExpoSistema.</span>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div  class="col-md-1 col-lg-1 col-sm-1 col-xs-1 logo">
                <img src="logo-exposistema.png" width="100" height="100" alt="">
            </div>
            <div  class="col-md-3 col-lg-3 col-sm-3 logo">
                <span>Telefono</span>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>